/*
 * Copyright (c) 2016, Grant Paul
 * All rights reserved.
 */

{
    Buttons = (
        /* Action buttons. */
        {
            Center = "{45,-20}";
            Anchor = "{0.85,0.8}";
            Size = "{70,70}";
            Slop = "{10,10,55,10}";

            Name = "Z";
            KeyIdentifier = "z";
        },
        {
            Center = "{-45,20}";
            Anchor = "{0.85,0.8}";
            Size = "{70,70}";
            Slop = "{55,10,10,10}";

            Name = "X";
            KeyIdentifier = "x";
        },

        /* Control buttons. */
        {
            Center = "{0,0}";
            Anchor = "{0.5,0.92}";
            Size = "{75,25}";
            Slop = "{10,10,10,10}";

            Name = "CONTROL";
            KeyIdentifier = "control";
        },
    );

    Pads = (
        /* Standard directional pad. */
        {
            Center = "{0,0}";
            Anchor = "{0.15,0.75}";
            Size = "{180,180}";
            Slop = "{50,50,50,50}";

            UpKeyIdentifier = "up";
            LeftKeyIdentifier = "left";
            DownKeyIdentifier = "down";
            RightKeyIdentifier = "right";
        },
    );
}
